In [10]:
#QUSTÃO 1:
#a) Crie um programa com while, que imprimir valores de 10 a 1.
#b) Crie um programa com for, que imprime valores de 10 a 1

numero = 1

while numero <=10:
    print(numero)
    numero+=1

1
2
3
4
5
6
7
8
9
10

In [8]:
#b) Crie um programa com for, que imprime valores de 10 a 1

for i in range(1, 11):
    print(i)

1
2
3
4
5
6
7
8
9
10

In [15]:
#Abaixo temos duas listas. Uma com os nomes da lista e os outros com:
#alunos = ['Alberto', 'Bento', 'Carlos', 'Denis', 'Evaldo', 'Fabiano']
#notas = [10, 8, 6, 8, 2, 1]
#Resultado esperado:
#Alberto: 10
#Bento: 8
#Carlos: 6
#Denis: 8
#valdo: 2
#biano: 1

import pandas as pd

df = pd.DataFrame(
    {

    "alunos" : ['Alberto', 'Bento', 'Carlos', 'Denis', 'Evaldo', 'Fabiano'],
    "notas" : ['10', '8', '6', '8', '2', '1']
    
    
    }
)
df

    alunos notas
0  Alberto    10
1    Bento     8
2   Carlos     6
3    Denis     8
4   Evaldo     2
5  Fabiano     1

In [3]:
#Dado as senhas abaixo, crie um programa em que se o usuário acertar uma das senhas, aparece que
#acertou a senha. Caso contrário, pedirá para o usuário digitá-la novamente. senhas = ['certo', '123', '456']

senha_correta = ['123', 'certo', '456']

while True:
  senha_digitada = input("Digite a senha: ")

  if senha_digitada in senha_correta:
    print("Senha correta! Acesso liberado.")
    break
  else:
    print("Senha incorreta. Tente novamente.")

Senha incorreta. Tente novamente.
Senha incorreta. Tente novamente.
Senha correta! Acesso liberado.

In [93]:
#Crie um programa que faça a contagem de 1 a 20. Se o número for divísivel por 3, imprimirá Tzz. Se for
#divisivel por 5, buzz. Se for divisivel por 3 e 5, FizzBuzz. Se não for, imprimira o número.


for numero in range(1, 21):
    if numero %3 == 0 and numero %5 == 0:
        print(f'{numero} FIzzBuzz!')
    elif numero %5 == 0:
        print(f'{numero} Buzz!')
    elif numero %3 == 0:
        print(f'{numero} Fizz!')
    else:
        print(f'{numero}')

1
2
3 Fizz!
4
5 Buzz!
6 Fizz!
7
8
9 Fizz!
10 Buzz!
11
12 Fizz!
13
14
15 FIzzBuzz!
16
17
18 Fizz!
19
20 Buzz!

In [23]:
#Dado a lista de filmes.
#filmes = ['Matrix', 'Deadpool', 'GodFather', 'MIB', 'Hannibal']
#a) Adicione o filme Toy Story e deverá ser impresso da seguinte forma, sem [ ]:
#filmes: Matrix, Deadpool,Toy Story, GodFather, MIB, Hannibal.
#b) Agora remova fillme MIB:
#filmes: Matrix, Deadpool,Toy Story, GodFather, Hannibal.
#c) Agora imprima a lista de filmes da seguinte forma:
#filmes: Matrix, Deadpool,Toy Story, GodFather e Hannibal.

#a:
filmes = ['Matrix', ' Deadpool', ' GodFather', ' MIB', ' Hannibal.']

filmes.insert(2, "Toy Story")  

print("filmes:", end=" ") 
for filme in filmes:
  print(filme, end=",") 
print("\b\n")

filmes: Matrix, Deadpool,Toy Story, GodFather, MIB, Hannibal.

In [26]:
#b:
filmes = ['Matrix', ' Deadpool', ' Toy Story', ' GodFather', 'MIB', ' Hannibal.']
filmes.remove("MIB")

print("filmes:", end=" ") 
for filme in filmes:
  print(filme, end=",") 
print("\b\n")

filmes: Matrix, Deadpool, Toy Story, GodFather, Hannibal.

In [29]:
#c:
filmes = ['Matrix', ' Deadpool', ' Toy Story', ' GodFather', ' e Hannibal.']

print("filmes:", end=" ") 
for filme in filmes:
  print(filme, end=",") 
print("\b\n")

filmes: Matrix, Deadpool, Toy Story, GodFather, e Hannibal.

In [89]:
#Crie uma função que simule uma rolagem de dados de 1 a 10 e retorne o valor da rolagem. Exemplo:
#Rolagem: 7

import random

def dados(rolagem):
    print(rolagem)
dados(f'Rolagem: {random.randint(1,10)}')

Rolagem: 1

In [2]:
#Crie um programa que pergunte qual a senha. Se for digitado 3 vezes errado, será bloqueado as
#possibilidades. Cada senha errada deverá ser armazenada dentro de uma lista.

senhas_incorretas = []
senha_correta = ['admin123']

while True:
  senha_digitada = input("Digite a senha: ")

  if senha_digitada in senha_correta:
    print("Senha correta! Acesso liberado.")
    break
  elif senha_digitada not in senha_correta:
      senhas_incorretas.append(senha_digitada)
  else:
      print("Senha incorreta. Tente novamente.")

print(f'senhas incorretas: {senhas_incorretas}')

Senha correta! Acesso liberado.
senhas incorretas: ['1', '123']