In [7]:
for numero in range(1,11):
    print(numero)
    if numero == 3:
     continue

1
2
3
4
5
6
7
8
9
10

In [31]:
numero = 1
while numero <= 10:
  print(numero)
  numero += 1

1
2
3
4
5
6
7
8
9
10

In [51]:
#quadrinhos = ['Paciência', 'Invencível', 'Umbrella Academy', 'Born again',
#'Watchmen']
#Dado a lista acima.
#a) Adicione o quadrinho 'Black Hammer' e imprima a nova lista # exatamente assim:
#Quadrinhos: Paciência, Black Hammer, Invencível, Umbrella Academy, Born again,
#Watchmen

quadrinhos = ['Paciência', 'Invencível', 'Umbrella Academy', 'Born again', 'Watchmen']

quadrinhos.insert(1, 'Black Hammer')

print("Quadrinhos: ", end=" " )
for quadrinho in quadrinhos:
   print(quadrinho, end=', ')

Quadrinhos:  Paciência, Black Hammer, Invencível, Umbrella Academy, Born again, Watchmen,

In [52]:
#b)Remova a história em quadrinhos 'Paciência' e imprima novamente a lista


quadrinhos = ['Paciência', 'Invencível', 'Umbrella Academy', 'Born again', 'Watchmen']

quadrinhos.remove('Paciência')

print('Quadrinhos: ', end=' ')
for quadrinho in quadrinhos:
    print(quadrinho, end=', ')

Quadrinhos:  Invencível, Umbrella Academy, Born again, Watchmen,

In [53]:
#Abaixo temos duas listas. Uma com os nomes da lista e os outros com
#alunos = ['Alberto', 'Bento', 'Carlos', 'Denis', 'Evaldo', 'Fabiano']
#notas = [10, 8, 6, 8, 2, 1]
#Resultado esperado:
#Alberto: 10
#Bento: 8
#Carlos: 6
#Denis: 8
#Evaldo: 2
#Fabiano: 

import pandas as pd

df = pd.DataFrame(
    {

    "alunos" : ['Alberto', 'Bento', 'Carlos', 'Denis', 'Evaldo', 'Fabiano'],
    "notas" : ['10', '8', '6', '8', '2', '1']
    
    }
)

    alunos notas
0  Alberto    10
1    Bento     8
2   Carlos     6
3    Denis     8
4   Evaldo     2
5  Fabiano     1

In [2]:
#Dado as informações de notas abaixo.
#notas = [0, 10, 10, 10, 9, 8, 5, 4, 2, 6, 6, 5, 4] 
#a) Informe quantos alunos estão reprovados.
#b) Quantos alunos estão aprovados
#c) Média geral da turma

import pandas as pd

notas = [0, 10, 10, 10, 9, 8, 5, 4, 2, 6, 6, 5, 4]

def aprovado(nota):
    return nota >=7

reprovados = sum(not aprovado(nota) for nota in notas)
aprovados = len(notas) - reprovados 

media = sum(notas) /len(notas)

print(f'Reprovados: {reprovados}')
print(f'Aprovados: {aprovados}')
print(f'Media: {media:.1f}')

Reprovados: 8
Aprovados: 5
Media: 6.1

In [ ]:
import random
import string

letras = string.ascii_letters
numeros = string.digits
caracteres =